body {
  margin: 0;
}

html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 100vw;
    min-height: 100vh;
}
/* 
body {
  height:100vh;
  min-height:100%;
}

html {
  min-height:100%;
  overflow-y:scroll;
  width: 100%;
} */

html ::-webkit-scrollbar {
  display: none;
}