@import '../index.scss';

#Main {
  height: 100vh;

  background-image: 
  linear-gradient(#21212166, #21212166), 
    url('../assets/Photo\ by\ Jesse\ Roberts\ on\ Unsplash.jpg');
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  display: grid;
  grid-template-columns: repeat(12, $grid-column-width);
  grid-template-rows: 18px 70px 1fr 106px 41px 111px 2fr;
  column-gap: 30px;
  justify-content: center;
}

#Overlay {
  display: none;
  opacity: 0;
  position: absolute;
  top: -2px;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(33, 33, 33, 0.5);
}
