@import '../index.scss';

.Form {
  display: none;
  opacity: 0;
  background-color: $color-background-light;

  grid-column: 5 / 8;
  height: auto;
  width: 3 * $grid-column-width + 3 * $grid-column-gutter;

  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 8px;

  z-index: 1;

  overflow: hidden;

  flex-direction: column;
  align-items: center;
  
  form {
    width: $grid-column-width * 2.5 + 3 * $grid-column-gutter;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin: 0 auto;
  }

  h2 {
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: $color-layout-neutral-dark;

    height: 70px;
    line-height: 68px;

    margin: 0;
    margin-bottom: -5px;
  }

  .footer {
    width: 176px;
    height: 24px;

    margin: 10px 0;

    display: flex;

    p {
      font-family: $font-main;
      font-style: normal;
      font-weight: normal;
      font-size: 9px;

      margin: 0;
    }

    p:first-child {
      width: 128px;
      height: 24px;
      line-height: 24px;

      text-align: left;

      color: $color-layout-neutral-dark;
    }

    p:last-child {
      width: 48px;
      height: 24px;

      text-align: center;
      line-height: 24px;

      color: $color-interactive-0;

      cursor: pointer;
    }

  }
}
