@import '../index.scss';

.FormButtonInput {

  border: none;

  width: 100%;
  height: 45px;

  display: flex;
  align-items: center;

  margin-top: 13px;
  margin-bottom: 10px;

  position: relative;

  input {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    border: none;
    outline: none;

    font-family: $font-main;
    font-style: normal;
    font-weight: normal;

    border-radius: 8px;

    font-size: 14px;
    text-align: center;

    background: $color-interactive-0;
    color: $color-layout-neutral-light;

    padding: 0;

    cursor: pointer;
  }

  div[role='button'] {
    display: none;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .hello {
    width: 10000px;
  }
}