@import '../index.scss';

#PropertyCards {
  grid-column: 1/13;
  grid-row: 4;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 238px;
  // column-gap: calc(25vw / 11);

  overflow: hidden;

  .PropertCards {
    grid-row: 1 / last-line;
  }

}
