@import '../index.scss';

#PropertyCards {
  grid-column: 1/13;
  grid-row: 4;

  display: grid;
  grid-template-columns: repeat(3, $grid-column-width * 4 + 3 * $grid-column-gutter);
  grid-auto-rows: 326.5px;
  grid-gap: 30px;

  .PropertCards {
    grid-row: 1 / last-line;
  }

}
