@import '../index.scss';

.PropertyFeature {
  min-width: 50%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  .category {
    font-family: $font-main;
    width: 100%;
  }
  .text {
    font-family: $font-body;
    min-width: 50%;
  }
  .textContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

  }

tr {
  width: 100%;

    td:first-child {
      text-align: left;
    }
    th:first-child {
      text-align: left;
    }
  th, td {
    width: 11%;
    height: 50px;
    text-align: center;
    font-family: $font-body;
    font-size: $font-size-body;
    font-weight: normal;

    &.expand {
      width: 22%;
    }
  }
  }
}

table {
width: 100%;

}
