@import '../index.scss';

.PropertyCard {
  width: 100%;
  height: 100%;

  border-radius: 0px;

  display: flex;
  flex-direction: column;

  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  color: $color-layout-neutral-dark;
  position: relative;

  &:hover::after {
    box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14);
  }

  &::after {
    transition: 230ms ease-out;

    content: " ";
    position: absolute;
    
    left: -15px;
    top: -15px;
    height: 326.5px + 30px;
    width: $grid-column-width * 4 + 3 * $grid-column-gutter + 30px;
    border-radius: 0px;

    pointer-events: none;
  }

    .image {
      height: calc(326.5px * 0.6);
      border-radius: inherit;
    }

    .valuation {
      display: flex;
      margin: 10px 0 11px 0;
      
      .price {
        margin: 0;
        font-size: 20px;
        line-height: 36px;
        width: 322px;
        height: 36px;  
        margin: 0;
      }

      svg {
        width: 36px;
        height: 36px;
      }
    }

    .details {
      display: flex;
      height: 16px;
      margin-bottom: 10px;

      .font {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
      }

      .bed {
        width: 68px;
        margin: 0;

      }

      .bath {
        width: 65px;
        margin: 0;

      }

      .sqft {
        width: 206px;
        margin: 0;

      }
    }

    .place {
      display: flex;
      height: 48px;

      .address {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        width: 211px;
        margin: 0;
        display: flex;
        align-items: flex-end;
      }

      .courtesy {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        width: 147px;
        margin: 0;

        display: flex;
        align-items: flex-end;
        justify-content: center
      }
    }
}