@import '../index.scss';

.PropertyCard {
  width: 100%;
  height: 100%;

  border-radius: 4px;

  display: flex;
  flex-direction: column;

  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  color: $color-layout-neutral-dark;
  position: relative;
  opacity: 1;

  &:hover::after {
    box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14);
  }

  &::after {
    transition: 230ms ease-out;

    content: " ";
    position: absolute;

    left: calc(calc(10vw / 11) / -2);
    top:  calc(calc(10vw / 11) / -2);
    height: calc(100% + calc(calc(10vw / 11)));
    width: calc(100% + calc(calc(10vw / 11)));
    border-radius: 4px;

    pointer-events: none;
  }

    .image {
      object-fit: cover;
      height: 60%;
      width: 100%;
      border-radius: inherit;
      cursor: pointer;
    }

    .valuation {
      display: flex;
      margin: 8px 0 8px 0;

      .price {
        margin: 0;
        font-size: 20px;
        // line-height: 26px;
        // width: 235px;
        height: 26px;
        margin: 0;
      }

      div {
        align-self: flex-end;
        margin-left: auto;
        cursor: pointer;
      }

      svg {
        width: 26px;
        height: 26px;
      }
    }

    .details {
      display: flex;
      height: 11px;
      width: auto;

      margin-bottom: 8px;

      .font {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 13px;
      }

      p {
        margin: 0;
        margin-right: 10px;
      }
    }

    .place {
      display: flex;
      height: 35px;

      .address {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        width: auto;
        margin: 0;
        padding-right: 15px;
      }

      .courtesy {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 12px;
        width: auto;
        margin: 0;
      }
    }
}
