@import '../index.scss';

#SearchBox {
  width: $grid-column-width * 6 + $grid-column-gutter * 5;
  height: 40px;

  font-family: $font-main;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 40px;

  border-radius: 8px;

  background-color: $color-layout-neutral-light;

  button {
    width: $grid-column-width;
    height: 40px;
    border-radius: 8px 0px 0px 8px;
    padding: 0;
    border: none;
    outline: none;

    cursor: pointer;

    background-color: $color-interactive-0;

    div {
      display: none;
      margin: auto;

      &:first-child {
        display: block;
      }
    }

  }

  input {
    transition: 200ms ease-out;
    width: $grid-column-width * 6 + $grid-column-gutter * 5 - $grid-column-width - 17;
    height: 40px;
  
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
  
    border: 0;
    padding: 0;
    outline: none; 
    
    border-radius: 8px;

    position: relative;
    top: -5px;
  
    background-color: $color-layout-neutral-light;
    padding-left: 17px;

    &:focus {
      background-color: $color-background-light;
    }
  }
}
