$color-background-light: #FAFAFA;
$color-layout-neutral-light: #F0F0F0;
$color-layout-constrast-light: #212121;
$color-layout-lighter-light: #2D2D2D;
$color-disable-light: #E9E9E9;

$color-background-dark: #212121;
$color-layout-neutral-dark: #2D2D2D;
$color-layout-constrast-dark: #FAFAFA;
$color-layout-lighter-dark: #F0F0F0;
$color-disable-dark: #2E2E2E;

$color-layout-highlight: #6C49CD;
$color-succes: #00C853;
$color-error: #D8000C;
$color-interactive-n1: #008296;
$color-interactive-0: #00B8D4;
$color-interactive-p1: #92E7F4;

$font-main: 'Roboto Mono', monospace;

$grid-column-width: 67px;
$grid-column-gutter: 30px;
